@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100svh;
  }
}

@media (max-width: 1024px) {
    .controls {
      display: none;
    }
  
    .navbar {
      display: none;
    }
  
    .game-area {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  
    canvas {
      border-radius: 0;
      border: none;
    }
  
    .start-screen {
      border: none;
      border-radius: 0;
    }
  }